
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここから */

/* 全体構造 */

body {
    font-size: 15px;
    font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
    line-height: 1.8;
}

header {
    margin-top: 50px;
    height: 153px;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1035px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444444;
}

/* header */

.header-left {
    float: left;

    h1 {
        font-size: 36px;
        line-height: 43px;
    }

    a {
        color: #111111;
    }

    p {
        font-size: 18px;
        line-height: 25px;
        color: #777777;
    }
}

.header-right {
    float: right;
}

.gnav {
    margin-top: 50px;
    padding: 0 200px 0 0;

    li {
        float: left;
        position: relative;

    &:hover ul li {
        visibility: visible;
        opacity: 1;
    }

    a {
        font-size: 17px;
        padding: 0 15px 15px;
        display: block;

        &:hover {
            color: #c49029;
        }
    }

    .fa {
        padding-left: 10px;
    }

    ul {
        position: absolute;
        top: 45px;
        left: -5px;
        height: 0;
        visibility: hidden;
    }

    li {
        width: 230px;
        border: 1px solid #f0f0f0;
        box-shadow: 0.5px 0.5px #f0f0f0;
        opacity: 0;
        transition: all 0.3s;

            a {
                padding: 10px 20px;
                display: block;
            }
        }
    }
}

.search-wrapper {
    height: 40px;
    display: inline-block;
    position: relative;
    float: right;
}

.search {
    height: 34px;
    width: 0px;
    background: url(../img/search-icon@2x.png) no-repeat left center;
    background-size: 26px 26px;
    padding-left: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: -5px;


    &:focus {
        width: 200px;
        position: absolute;
        right: 0;
        top: -5px;
        border: 1px solid #e0e0e0;
        background-color: white;
        cursor: text;
    }
}

.mainvisual {

    &-text {
        font-size: 27px;
        line-height: 49px;
        color: #777777;
        margin: 80px 0 120px 0;
    }
}

.article {

    &-one {
        display: flex;
    }

    &-date {
        width: 120px;
        font-size: 17px;
        line-height: 30px;
        margin-top: 10px;

        a {
            color: #999999;

            &:hover {
                color: #666666;
            }
        }

    }

    &-right {
        width: 692px;
        margin-left: 215px;
    }

    &-title {
        font-size: 22px;
        line-height: 29px;

        a {
            color: #111111;

            &:hover {
                color: #c49029;
            }
        }
    }

    &-text {
        font-size: 17px;
        line-height: 30px;
        color: #666666;
        margin: 26px 0 73px;
    }
}

.page {
    display: flex;
    justify-content: center;

    li {
        border: 1px solid #cccccc;
        margin-right: 10px;
        font-size: 17px;
        line-height: 30px;


        a {
            color: #777777;
            display: block;
            padding: 10px 20px;

            &:hover {
                color: #333333;
            }
        }

    }

    &-one {
        background-color: #eeeeee;
    }
}

footer {
    margin-bottom: 50px;
}

.footer {


    h4 {
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }

    &-top {
        height: 300px;
        display: flex;
        padding: 77px 0 88px;
        border: solid #E6E6E6;
        border-width: 1px 0 1px;
        margin-top: 104px;

        &-profile {
            width: 250px;
            margin-right: 87px;

            p {
                clear: both;
            }

            &-top {

                img {
                    border-radius: 50%;
                    width: 100px;
                    float: left;
                    margin-right: 22px;
                }
                &-right {

                    h3 {
                        font-size: 19px;
                        line-height: 32px;
                        color: #333333;
                        padding-top: 10px;
                    }

                    &-sns {

                        a {
                            margin-right: 20px;
                        }


                        .twitter::before {
                            font-family:"Font Awesome 5 Free","Font Awesome 5 Brands";
                            content: "\f099";
                            font-weight: 400;
                            color: #999999;
                            font-size: 17px;
                            line-height: 29px;
                        }
                        .facebook::before {
                            font-family:"Font Awesome 5 Free","Font Awesome 5 Brands";
                            content: "\f39e";
                            font-weight: 400;
                            color: #999999;
                            font-size: 17px;
                            line-height: 29px;
                        }
                        .instagram::before {
                            font-family:"Font Awesome 5 Free","Font Awesome 5 Brands";
                            content: "\f16d";
                            color: #999999;
                            font-size: 17px;
                            line-height: 29px;
                        }
                    }
                }
            }
            &-bottom {

                margin-top: 50px;
                p {
                    width: 270px;
                    font-size: 17px;
                    line-height: 29px;
                    color: #666666;
                }
            }
        }

        &-right {
            width: 210px;
            margin-right: 44px;

            h4 {
                margin-bottom: 30px;
            }

            p {
                font-size: 16px;
                line-height: 27px;
                color: #666666;
            }
        }

        &-recentry {
            width: 140px;
            margin-right: 100px;

            h4 {
                margin-bottom: 30px;
            }

            &-one {
                margin-bottom: 20px;

                h2 {
                    margin-bottom: 8px;
                }

                a {
                    font-size: 17px;
                    line-height: 20px;
                    color: #666666;
                    font-weight: 400;
                    border-bottom: 1px solid #dddddd;

                    &:hover {
                        color: #c49029;
                    }
                }

                &-date {
                    font-size: 15px;
                    line-height: 25px;
                    color: #999999;
                }
            }


        }

        &-categorys {
            width: 215px;
        }

        &-category {
            width: 140px;

            h4 {
                margin-bottom: 30px;
            }

            &-one {
                font-size: 17px;
                line-height: 20px;
                color: #666666;
                font-weight: 400;
                border-bottom: 1px solid #dddddd;
                margin-bottom: 20px;
            }
        }

        &-search {
            margin-top: 100px;
            height: 40px;
            width: 214px;
            border: 1px solid #E6E6E6;

            input {
                height: 40px;
                width: 214px;
                font-size: 17px;
                line-height: 19px;
                color: #444444;
                border: none;
            }
        }

    }

    &-bottom {
        display: flex;
        height: 114px;
        justify-content: center;
        align-items: center;
        position: relative;

        &-sns {
            position: absolute;
            left: 0;

            i {
                color: #999999;
                font-size: 23px;
                line-height: 29px;
                margin-right: 25px;

                &:hover {
                    color: #111111;
                }
            }
        }

        &-siteCredit {
            font-size: 16px;
            line-height: 28px;
            color: #999999;

            a {
                color: #666666;

                &:hover {
                    color: #111111;
                }
            }
        }


    }

}
